{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    SignUp
{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

                    <span class="login100-form-title p-b-34 p-t-27">
						Log In
					</span>
                    {% if form.errors %}
                        {{ form.errors }}

                    {% endif %}

                    {{ form|crispy }}

                    <span>Not have an Account?<a class="txt1" href="{% url 'account_signup' %}">
                    Sign up
                </a></span>

                    <div class="container-login100-form-btn mt-3">
                        <button class="login100-form-btn">
                            LogIn
                        </button>
                    </div>
                </form>


                <div class="text-center p-t-90">
                    <a class="txt1" href="{% url 'account_reset_password' %}">
                        Forgot Password?
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div id="dropDownSelect1"></div>
{% endblock %}
