{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% translate 'Reset Password' %}
{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                    <span class="login100-form-title p-b-34 p-t-27">
						{% translate 'Your Change Password Was successful!' %}
					</span>
                <div class="text-center p-t-90">
                    <button class="login100-form-btn">
                        <a class="txt1" href="{% url 'account_login' %}">
                            {% translate 'Back to Login.' %}
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
{% endblock %}
