{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% translate 'Reset Password' %}
{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
            <div class="wrap-login100">
                    <span class="login100-form-title p-b-34 p-t-27">
						{% translate 'Reset Password' %}!
					</span>
                <div class="text-center p-t-90">
                    <h3 class="txt1">
                        {% translate 'Please Check Your E-mail.' %}
                    </h3>
                </div>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
{% endblock %}
