{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    {% translate 'Checkout' %}
{% endblock %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home:home' %}">{% translate 'Home' %}</a>
                    <span class="breadcrumb-item active">{% translate 'Checkout' %}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">{% translate 'Billing Address' %}</span></h5>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="bg-light p-30 mb-5">
                        {% if form.errors %}
                            <div class="alert alert-danger">{{ form.errors }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>{% translate 'First Name' %}</label>
                                <input name="{{ form.firstname.name }}" class="form-control" type="text"
                                       placeholder="{% translate 'John' %}">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% translate 'Last Name' %}</label>
                                <input name="{{ form.lastname.name }}" class="form-control" type="text"
                                       placeholder={% translate 'Doe' %}>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% translate 'Mobile Number' %}</label>
                                <input name="{{ form.phone_number.name }}" class="form-control" type="text"
                                       placeholder="{% translate '+123 456 789' %}">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% translate 'Address' %}</label>
                                <input name="{{ form.address.name }}" class="form-control" type="text"
                                       placeholder="{% translate '123 Street' %}">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% translate 'Note' %}</label>
                                <input name="{{ form.message.name }}" class="form-control" type="text"
                                       placeholder="{% translate 'New York' %}">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                    {% translate 'Order Total' %}</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">{% translate 'Products' %}</h6>
                        {% for item in cart %}
                            <div class="d-flex justify-content-between">
                                <h6>{{ item.product_obj.name_product }}</h6>
                                <h6>{{ item.quantity }}</h6>
                                <p>{% translate '$' %}{{ item.total_price }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">{% translate 'Total Post' %}</h6>
                        <h6 class="font-weight-medium">{% translate '$' %}{{ cart.total_price }}</h6>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>{% translate 'Total' %}</h5>
                            <h5>{% translate '$' %}{{ cart.total_costs }}</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span>
                    </h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">{% translate 'Zarinpal' %}</label>
                            </div>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold py-3">{% translate 'Submit' %}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}
