{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}

{% endblock %}

{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home:home' %}">{% translate 'Home' %}</a>
                    <span class="breadcrumb-item text-dark" href="#">{% translate 'Products' %}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        {% for products in product_list %}
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ products.image.url }}" alt="">
                                    <form method="post" action="{% url 'cart:cart_add' products.id %}">
                                        {% csrf_token %}
                                        <div class="product-action">
                                            <input type="hidden" value="1" name="quantity">
                                            <button type="submit" class="btn btn-outline-dark btn-square"><i
                                                    class="fa fa-shopping-cart"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate"
                                       href="{{ products.get_absolute_url }}">{{ products.name_product }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>{% translate '$' %}{{ products.price }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% if product_list|length != 0 %}
                            <div class="col-12">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        {% if product_list.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ product_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link"
                                                                              href="?page=None">Previous</a>
                                            </li>
                                        {% endif %}
                                        {% for i in product_list.paginator.page_range %}
                                            {% if product_list.number == i %}
                                                <li class="page-item active"><a class="page-link" href="">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if product_list.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ product_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }} {% endif %}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link"
                                                                              href="?page=None">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            {% else %}
                            <h2>{% translate 'No product found...' %}</h2>
                        {% endif %}
                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
        </div>
        <!-- Shop End -->
    </div>
{% endblock %}