{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'include/head.html' %}
</head>

<body>
<!-- Topbar Start -->
{% include 'include/topbar.html' %}
<!-- Topbar End -->


<!-- Navbar Start -->
{% include 'include/navbar.html' %}
<!-- Navbar End -->
{% block content %}

{% endblock %}


<!-- Footer Start -->
{% include 'include/footer.html' %}
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% include 'include/script.html' %}

</body>

</html>